html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* globales*/

body {
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Playfair", serif;
}

a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

img {
    max-width: 100%;
    display: block;
}

/*header y navegacion*/

.nombre-sitio {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nombre-sitio span {
    color: #037bc0;
}

.nav-principal {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.hero {
    background-image: url(../assets/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.categorias h2 {
    text-align: center;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 20px;
}

.categoria a:hover {
    color: #FFFFFF;
    background-color: #037bc0;
    border-bottom-right-radius: 40px;
}